<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Navigation Tree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    
</body>

<script src="main.js"></script>

</html>